{% load static cartoview_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ SITE_NAME }} - Data Manager</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0, maximum-scale=1, user-scalable=no" />
    <link rel="shortcut icon" type="image/png" href="{{ STATIC_URL }}cartoview/img/icon.png" />
    <link rel="stylesheet" href="{% static 'data_manager/dist/GeopackageManager.css' %}?version=0.9.8">
    <link rel="stylesheet" href="{% static 'data_manager/dist/vendors-GeopackageManager.css' %}?version=0.9.8">
    <style>
        html,body {
            height: 100%;
            margin: 0px;
        }
        #root{
            height: 100%
        }
    </style>
</head>
<body>
<div style="height: 100%;" id="react-app"></div>
<script src="{% static 'data_manager/dist/vendors-GeopackageManager-chunk.js' %}?version=0.9.8"></script>
  <script src="{% static 'data_manager/dist/GeopackageManager.bundle.js' %}?version=0.9.8"></script>
  <script>
    var getAbsoluteUrl = (function() {
      var a;

      return function(url) {
        if(!a) a = document.createElement('a');
        a.href = url;

        return a.href;
      };
    })();
    const baseURL=getAbsoluteUrl('../..').replace(/\/$/, "");
    const urls={
      uploadsURL:baseURL+"{% url 'api_dispatch_list'  api_name='gpkg_api' resource_name='data_manager' %}",
      layersURL:baseURL+"{% url 'api_dispatch_list'  api_name='api' resource_name='layers' %}",
      downloadURL:baseURL+"{% url 'api_download_request'  api_name='gpkg_api' resource_name='data_manager' %}",
      permissionsURL:baseURL+"{% url 'api_get_permissions'  api_name='gpkg_api' resource_name='data_manager' %}",
      esriPublishURL:baseURL+"{% url 'api_esri_dump'  api_name='gpkg_api' resource_name='data_manager' %}",
      layerUpload:baseURL+"{% url 'layer_upload' %}",
      publishURL:function(upload_id,layername){
        return urls.uploadsURL+upload_id+"/"+layername+"/publish/"
      },
      compareLayerURL:function(upload_id,layername,glayername){
        return urls.uploadsURL+upload_id+"/"+layername+"/"+glayername+"/compare/"
      },
      reloadURL:function(upload_id,layername,glayername){
        return urls.uploadsURL+upload_id+"/"+layername+"/"+glayername+"/reload/"
      }
    }
    var downloadableLayers={{download_layers|dump_json}}
    var props={
      urls:urls,
      username:"{{request.user.username}}",
      authToken:{
            type:"tastypie",
            prefix:"ApiKey",
            token:"{{request.user.api_key}}".split(" for ")[0]
        },
      {% comment %}
      {% if 'access_token' in request.session %}
        authToken:{
          type:"oauth",
          prefix:"Bearer",
          token:"{{request.session.access_token}}"
        },
      {% else %}
        authToken:{
            type:"tastypie",
            prefix:"ApiKey",
            token:"{{request.user.api_key}}".split(" for ")[0]
        },
      {% endif %}
      {% endcomment %}
    }
    GeopackageManagerRenderer.show("react-app",props)
  </script>
</body>
</html>
