{% load static cartoview_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Data Manager</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0, maximum-scale=1, user-scalable=no" />
    <link rel="shortcut icon" type="image/png" href="{{ STATIC_URL }}cartoview/img/icon.png" />
    <link rel="stylesheet" href="{% static 'data_manager/dist/GeopackageManager.css' %}?version=0.9.3">
    <link rel="stylesheet" href="{% static 'data_manager/dist/vendors-GeopackageManager.css' %}?version=0.9.3">
    <style>
        html,body {
            height: 100%;
            margin: 0px;
        }
        #root{
            height: 100%
        }
    </style>
</head>
<body>
<div style="height: 100%;" id="react-app"></div>
<script src="{% static 'data_manager/dist/vendors-GeopackageManager-chunk.js' %}?version=0.9.3"></script>
  <script src="{% static 'data_manager/dist/GeopackageManager.bundle.js' %}?version=0.9.3"></script>
  <script>
    const urls={
      uploadsURL:"{% url 'api_dispatch_list'  api_name='gpkg_api' resource_name='data_manager' %}",
      layersURL:"{% url 'api_dispatch_list'  api_name='api' resource_name='layers' %}",
      downloadURL:"{% url 'api_download_request'  api_name='gpkg_api' resource_name='data_manager' %}",
      permissionsURL:"{% url 'api_get_permissions'  api_name='gpkg_api' resource_name='data_manager' %}",
      esriPublishURL:"{% url 'api_esri_dump'  api_name='gpkg_api' resource_name='data_manager' %}",
      layerUpload:"{% url 'layer_upload' %}",
      publishURL:function(upload_id,layername){
        return "{% url 'app_manager_base_url'%}data_manager/api/gpkg_api/data_manager/"+upload_id+"/"+layername+"/publish/"
      },
      compareLayerURL:function(upload_id,layername,glayername){
        return "{% url 'app_manager_base_url'%}data_manager/api/gpkg_api/data_manager/"+upload_id+"/"+layername+"/"+glayername+"/compare/"
      },
      reloadURL:function(upload_id,layername,glayername){
        return "{% url 'app_manager_base_url'%}data_manager/api/gpkg_api/data_manager/"+upload_id+"/"+layername+"/"+glayername+"/reload/"
      }
    }
    var downloadableLayers={{download_layers|dump_json}}
    var props={
      urls:urls,
      username:"{{request.user.username}}",
      token:"{{request.user.api_key}}",
    }
    GeopackageManagerRenderer.show("react-app",props)
  </script>
</body>
</html>
