.flex-element {
    display: flex;
    flex-grow: 1
}

.flex-space-between {
    justify-content: space-between;
}

.equal-area {
    flex: 1
}

.text-wrap {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.flex-center {
    align-items: center
}

.glayer-actions {
    margin: 5px
}

.custom-header {
    text-align: center;
    background: black;
    color: white;
    border-radius: 5%;
}

.layer-item {
    flex-direction: row
}

@media screen and (max-width: 1024px) {
    .layer-item {
        flex-direction: column;
    }
}

.download-selector {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
}