{% extends "app_manager/app_install_base.html" %}
{% load bootstrap_tags staticfiles %}
{% load i18n %}

{% block title %} {{ block.super }} - {% trans "GeoPackage Manager - {{request.user.username}}" %} {% endblock %}
{% block head %}
    {{ block.super }}
{% endblock %}
{% block body %}
    <div id="page-wrapper">
        <div class="container-fluid" >
            <h1>Your Uploads</h1>
            <br>
            {% for upload in uploads  %}
            <div class="panel-group">
                <div class="panel panel-primary">
                  <div style="display: flex;justify-content: space-between;" class="panel-heading"> <span>{{upload.package_name}} </span> <span>uploaded: {{upload.uploaded_at}}</span> </div>
                  <div class="panel-body">
                    <ul class="list-group">
                        {% for layer in upload.gpkg_manager.get_layers %}
                            <li  style="display: flex;" class="list-group-item"><a data-toggle="collapse" href="#actions-{{upload.id}}" style="flex-grow: 1">{{layer.name}}</a><a href="{% url 'geopackage_publish' upload_id=upload.id layername=layer.name %}">publish</a></li>
                        {% endfor %}
                    </ul>
                  </div>
                </div>
              </div>
            
            {% endfor %}
        </div>
    </div>

{% endblock %}
{% block extra_script %}
  
 {% endblock %}